# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
*.cover

# Docker
docker-compose.override.yml
*.pid

# Node (si aplica)
node_modules/
npm-debug.log
yarn-error.log

# Others
nul
Proyecto-ISA (docs)/
docs/

# carpeta api de ISA
api_ISA/

# Secrets / Keys
secrets/
keys/private*