# appwo_service — Variables de Entorno
# Copia este archivo como .env y edita los valores reales

DATABASE_URL=postgresql+asyncpg://postgres:postgres@approval_db:5432/approval_db
REDIS_URL=redis://approval_redis:6379/0
USER_SERVICE_URL=http://backend_django:8000
USE_MOCK_SERVICES=False
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
